{% extends "proyectoApp/base.html" %}

{% load static %}
{% block content %}
<section class="section bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center mx-auto">

                <div class="404-content">
                    <h1 class="display-1 pt-1 pb-2">Gracias por tu solicitud</h1>
                    <p class="px-3 pb-2 text-dark">Revisaremos la información de tu tienda y muy pronto te daremos respuesta.</p>
                    <a href="{% url 'inicio' %}"  style="border-color: #FF390F; background-color:#FF390F;" class="btn btn-info">Regresar</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}