<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">Inicia sesión</h2>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            Para poder continuar debes iniciar sesión.
        </div>
        <div class="modal-footer text-left">
            <form action="{% url 'entra' %}" method="GET" enctype="multipart/form-data">
                <input style="display: none;"  value="1" type="text" name="fav" readonly class="form-control-plaintext" id="usid" >
                <input style="display: none;"  value="{{pro}}" type="text" name="pr" readonly class="form-control-plaintext" id="usid" >
                <button class="btn btn-primary " style="background-color: #FF390F; border-color: #FF390F;"  type="submit" >Iniciar sesión</button>
            </form>
            
            <a class="btn btn-primary btn-lg ml-3  " style="background-color: #4267B2; border-color: #4267B2;" href="{% url 'social:begin' 'facebook' %}?next={% url 'favorit' pro %}"> 
                <i class="fa fa-facebook "></i>&nbsp; Continúa con Facebook 
            </a>
            
        </div>

    </div>
</div>