{% extends "proyectoApp/based.html" %}

{% load static %}
{% load humanize %}
{% block act3 %}
class="active"
{% endblock act3 %}
{% block dash %}

<div class="col-md-10 offset-md-1 col-lg-8 offset-lg-0">
  <!-- Recently Favorited -->
  <div class="widget dashboard-container my-adslist">
    <h3>
      <div class="row">
        <div class="col-lg-6 align-self-center">
          Mis pedidos
        </div>
        <div class="col-lg-6 text-right align-self-center pr-4">
          <a id="ls" class="view" 
          data-container="body" 
          data-toggle="popover"
           
          data-placement="left" 
          data-content="Puedes ver la información del pedido en el boton del ojo, también puedes marcar el pedido como enviado para que ya no aparezca en la lista de pendientes." 
          title="info"><i class="fa fa-question-circle"></i></a>
 
        </div>
      </div>
    </h3>
    <form action="" method="GET">
    <div class="form-row">
      <div class="form-group col-md-10">
        <input name="bus" type="text" class="form-control my-2 my-lg-1" id="inputtext4" placeholder="Buscar por ID">
      </div>

      <div class="form-group col-md-2 align-self-center">
        <button style="background-color: #FF390F; border-color: #FF390F;" type="submit" class="btn btn-primary">Buscar</button>
      </div>
    
    </div>
  </form>
    {% if entity %}
    <table class="table table-responsive product-dashboard-table">
      <thead>
        <tr>
          <th>Imagen</th>
          <th>Producto</th>
          <th class="text-center">Cliente</th>
          <th class="text-center">Acción</th>
        </tr>
        
      </thead>
      <tbody>


        {% for p in entity %}
        <tr>

          <td class="product-thumb">
            <img width="80px" height="auto" style="object-fit: contain;"  src="{{p.item.imagen.url}}" alt="image description"></td>
          <td class="product-details">
            <h3 class="title">{{p.item.titulo}}</h3>
            <span class="add-id"><strong>Ad ID:</strong>{{p.id}}</span>
            <span><strong>Fecha: </strong><time>{{p.created}}</time> </span>
            {% if p.enviado == True %}
            <span class="status active"><strong>Envio:</strong>Enviado</span>
            {% else %}
            <span style="color: red;"  class="status "><strong>Envio:</strong>Pendiente</span> 
            {% endif %}
            
            <span class="location"><strong>Cantidad:</strong>{{p.cantidad}}</span>
            <span class="location"><strong>Total:</strong>${{p.precio|intcomma}}</span>
          </td>
          <td class="product-category"><span class="categories">{{p.cliente.username}}</span></td>
          <td class="action" data-title="Action">
            <div class="">
              <ul class="list-inline justify-content-center">

                <li class="list-inline-item">
                  <a class="edit" data-toggle="tooltip" data-placement="top" title="Enviado" data-toggle="modal" data-target="#modlax" href="{% url 'envia' tienda.id p.id %}"a>
                    <i class="fa fa-check"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="view" data-toggle="tooltip" data-placement="top" title="Ver" onclick="abrir_modalpe('{% url 'modalpe' p.id %}')">
                    <i class="fa fa-eye"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="delete" data-toggle="tooltip" data-placement="top" title="Eliminar" onclick="abrir_modalpe('{% url 'elpe' p.id tienda.id %}')">
                    <i class="fa fa-trash"></i>
                  </a>
                </li>
              </ul>
            </div>
          </td>
        </tr>

        {% endfor %}
        {% else %}
        <section class="section ">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-center mx-auto">
                        <div class="404-img">
                            <img src="{% static 'images/404/no-document.png' %}" class="img-fluid" alt="">
                        </div>
                        <div class="404-content">
                            
                            <p class="px-3 pb-2 text-dark">No pedidos nuevos</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endif %}
      </tbody>
    </table>

  </div>

  <!-- pagination -->
  <div class="pagination justify-content-center">
          {% include 'proyectoApp/paginator.html' %}
          </div>

  <!-- pagination -->

</div>
  <div class="modal fade" id="pedi" role="dialog">

  </div>



{% endblock dash %}

{% block extrajs %}
<script type="text/javascript">
$(function () {
  $('[data-toggle="popover"]').popover()
})
  function abrir_modalpe(url){
    $('#pedi').load(url, function(){
      $(this).modal('show');
    });
  }
</script>
{% endblock extrajs %}