{% extends "proyectoApp/base.html" %}

{% load static %}
{% block cabezo %}
<title>Muestra</title>
{% endblock cabezo %}
{% block content %}
{% if user.is_authenticated %}
<section class="page-title">
	<!-- Container Start -->
	<div class="container">
		<div class="row">
			<div class="col-md-8 offset-md-2 text-center">
				<!-- Title text -->
				<h3>Nueva Tienda</h3>
			</div>
		</div>
	</div>
	<!-- Container End -->
</section>

<section class="section-sm pt-4">
	<div class="container">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="p-4">
                <div class="form-group">
                    <div class="">
                        <label for="input-file">Información de la tienda</label>
            
                     </div>
                    <div class="row">
                        <div class="col-lg-6 py-2">
                            <input type="text" placeholder="Nombre *" name="nombre" class="form-control" required>
                            <input style="display: none;"  value="{{user.id}}" type="number" name="usid" readonly class="form-control-plaintext" id="usid" >
                        </div>

                        <div class="col-lg-6 pt-2">
                            <input type="text" placeholder="Ubicación" name="ubicacion" class="form-control" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 py-2">
                            <input type="text" placeholder="Descripción *" name="descripcion" class="form-control" required>
                        </div>
                    </div>
                    <div class="pt-3">
                        
                        <label for="">Así será el link de tu tienda, únicamente puede incluir letras y números sin espacios, máximo 20 caracteres </label> 
                     </div>
                     <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon3">https://muestra.store/</span>
                        </div>
                        <input type="text" pattern="[A-Za-z0-9_-]{1,15}" name="url" placeholder="mi-tienda" class="form-control" id="basic-url" aria-describedby="basic-addon3" required>
                      </div>
 
                </div>
                <div class="form-group">
                    <div>
                        <label>Categoría</label>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 py-2">
                            <select name="cate" id="" class="form-control w-100">
                                <option value="0">Categoria</option>
                                {% for categoria in categorias %}
                                <option value="{{categoria.nombre}}">{{categoria.nombre}}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-lg-6 pt-2">
                            <input type="text" placeholder="Otra" name="otra" class="form-control">
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <div class="">
                        <label for="input-file">Redes sociales</label>
            
                     </div>
                    <div class="row">
                        <div class="col-lg-4 py-2">
                            <input type="text" placeholder="Link Instagram *" name="insta" class="form-control" required>
                        </div>
                        <div class="col-lg-4 pt-2">
                            <input type="text" placeholder="Link Facebook *" name="face" class="form-control" required>
                        </div>
                        <div class="col-lg-4 pt-2">
                            <input type="tel" placeholder="Número Whatsapp *" name="num" class="form-control" required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6 py-2">
                            <div class="">
                                <label for="input-file">Imagen de perfil</label>
                    
                             </div>
            
                             <div class="form-group choose-file d-inline-flex">
                                
                                
                                <input  name="imagen" type="file" class="form-control-file mt-2 pt-1" id="input-file" required>
                             </div>
                        </div>
                        <div class="col-lg-6 pt-2">
                            <div class="">
                                <label for="input-file">Imagen de fondo</label>
                    
                             </div>
            
                             <div class="form-group choose-file d-inline-flex">
                                
                                
                                <input  name="imagen2" type="file" class="form-control-file mt-2 pt-1" id="input-file" required>
                             </div>
                        </div>
                    </div>
                </div>



        
                
                <div class="btn-grounp">
                    <button type="submit" style="background-color: #FF390F; border-color: #FF390F;" class="btn btn-primary mt-2 float-right">Crear</button>
                </div>
            </fieldset>
        </form>
</div>
</section>
{% else %}
<div class="container mt-5">
<div class="jumbotron">
    <h1 class="display-4">Registrate</h1>
    <p class="lead">Crea una cuenta desde la que podras acceder a la administración de tu tienda en Muestra, recuerda registrarte con el email de tu tienda para que puedas recibir notificación de los pedidos en el email.</p>
    <hr class="my-4">
    <p>Si el email de tu tienda es Gmail puedes iniciar sesión directamente con esa cuenta.</p>
    <p class="lead mt-3">
        <form action="{% url 'registro' %}" method="GET">
      <a class="btn btn-primary btn-lg   " style="background-color: #DB4437; border-color: #DB4437;" href="{% url 'social:begin' 'google-oauth2' %}?next={% url 'nueva' %}"> 
        <i class="fa fa-google "></i>&nbsp; Continúa con Google 
    </a>
   
        <input style="display: none;"  value="a1x9sd7d9" type="text" name="sig" readonly class="form-control-plaintext"  >
    <button class="btn ml-3" style="color: #FF390F;" type="submit" role="button">Registrarse</button>
</form>
</p>
  </div>
</div>
{% endif %}
{% endblock %}

