{% extends "proyectoApp/base.html" %}

{% load static %}
{% load humanize %}
{% block cabezo %}
<title>{{tienda.nombre}}</title>
<script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=600f84e67c7d460011f75b1c&product=inline-share-buttons" async="async"></script>
<link rel="stylesheet" href="{% static 'css/star.css' %}">

<!-- Some Open Graph tags -->
<meta name="description" 				content="{{tienda.nombre}}">
<meta name="author" 					content="{{tienda.descripcion}}">
<meta property="og:locale" 				content="en_ES"/>
<meta property="og:type" 				content="article"/>
<meta property="og:title" 				content="{{tienda.nombre}}"/>
<meta property="og:description" 		content="{{tienda.descripcion}}"/>
<meta property="og:url" 				content="muestra.store:8000/{{tienda.url}}"/>
<meta property="og:site_name" 			content="{{tienda.nombre}}"/>
<meta property="article:publisher" 		content="{{tienda.facebook_link}}"/>
<meta property="article:published_time" content="{{producto.created}}"/>
   <meta property="og:image" 				content="{{tienda.foto_perfil.url}}"/>
	

<meta name="twitter:title" 				content="{{tienda.nombre}}"/>
<meta name="twitter:description" 		content="{{tienda.descripcion}}"/>
<meta name="twitter:image" 				content="{{tienda.foto_perfil}}"/>
<meta name="twitter:site" 				content="@[TWITTER_USERNAME]"/>
<meta name="twitter:creator" 			content="@[TWITTER_USERNAME]"/>
<meta name="twitter:via" 				content="[TWITTER_USERNAME]"/>
<meta name="twitter:card" 				content="photo"/>
<meta name="twitter:url" 				content="muestra.store"/>
{% endblock cabezo %}
{% block content %}
<div id="fb-root"></div>
<script async defer src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2"></script>
<section  style="background: url({{tienda.foto_fondo.url}}); background-size: cover; background-position: center;" class="hero-area bg-1 text-center overly">
	<!-- Container Start -->
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- Header Contetnt -->
				<div class="content-block">
					<h1>{{tienda.nombre}}</h1>
					<p>{{tienda.descripcion}}</p>
					<div class="short-popular-category-list text-center">
						<h2 class="text-white">Redes Sociales</h2>
						<ul  class="list-inline ">
							{% if tienda.instagram_link %}	
							<li class="list-inline-item pt-3 rounded-pill">
                                <a  href="{{tienda.instagram_link}}"}><i class="fa fa-instagram"></i> Instagram</a></li>
                            {% endif %}
							{% if tienda.facebook_link %}
								<li class="list-inline-item pt-3 rounded-pill">
                                <a  href="{{tienda.facebook_link}}"><i class="fa fa-facebook"></i> Facebook</a></li>
                            {% endif %}
							{% if tienda.whatsapp_link %}
								<li class="list-inline-item pt-3 rounded-pill">
                                <a  href="https://wa.me/57{{tienda.whatsapp_link}}"><i class="fa fa-whatsapp"></i> Whatsapp</a></li>
						    {% endif %}
						</ul>
					</div>
					
				</div>
				<!-- Advance Search -->

				
			</div>
		</div>
	</div>
	<!-- Container End -->
</section>
<section class="section-sm">
	<div class="container">

		<div class="row">
			<div class="col-md-3">
                <div class="widget user text-center">
					<div class="profile-thumb">
						<a ><img style="width: 200px; height: 200px; object-fit: cover;" src="{{tienda.foto_perfil.url}}" alt="" class="rounded-circle"></a>
					  </div>
                    <div class="mt-3"> 
					<h4><a href="">{{tienda.nombre}}</a></h4>
				</div>
                    
                    <p class="member-time">Desde {{tienda.created}}</p>
                    <ul class="list-inline mt-20">
						{% if tienda.whatsapp_link %}
                        <li class="list-inline-item"><a href="https://wa.me/57{{tienda.whatsapp_link}}" style="background-color: #25d366; border-color: #25d366;" class="btn btn-primary rounded-pill " href="#"><i class="fa fa-whatsapp"></i> Contactar</a></li>
						{% endif %}
						<li class="mt-2">
							<p>Compartir</p>
							<div class="sharethis-inline-share-buttons"></div>
						</li>
                    </ul>
                </div>
				<div class="category-sidebar">
					

					  
{% if tienda.instagram_post %}

<div  class="cajica">
	<iframe   src="{{tienda.instagram_post}}embed" allowfullscreen></iframe>
</div>

{% endif %}
{% if tienda.facebook_post %}
<div  class="cajica">
	<iframe   src="{{tienda.facebook_post}}embed" allowfullscreen></iframe>
</div>

{% endif %}






				</div>
			</div>
			<div class="col-md-9">
				<div class="category-search-filter">
					<div class="row">
						<div class="col-md-6">
							<div class="dropdown">
								<strong>Ordenar</strong>
								<button class="btn btn-outline-secondary dropdown-toggle my-0 ml-3 px-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								 {% if ord %}
									{% if ord == "reciente" %}
										Mas reciente
									{% elif ord == "mayor" %}
										Mayor precio
									{% elif ord == "menor" %}
										Menor precio
									{% endif %}
								 {% else %}
									Mas reciente
								 {% endif %}	
								</button>
								<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
									<form action="" method="GET" enctype="multipart/form-data">
										<input style="display: none;"  value="reciente" type="text" name="ord" readonly class="form-control-plaintext" id="usid" >
									{% if mi %}
									<input  style="display: none;" type="number" placeholder="MIN" value="{{mi}}" name="min" class="form-control">
									{% endif %}
									{% if ma %}
									<input style="display: none;" type="number" placeholder="MIN" value="{{ma}}" name="max" class="form-control">
									{% endif %}
										<button type="submit" class="dropdown-item">Mas reciente</a>
									</form>
									<form action="" method="GET" enctype="multipart/form-data">
										<input style="display: none;"  value="mayor" type="text" name="ord" readonly class="form-control-plaintext" id="usid" >
										{% if mi %}
										<input  style="display: none;" type="number" placeholder="MIN" value="{{mi}}" name="min" class="form-control">
										{% endif %}
										{% if ma %}
										<input style="display: none;" type="number" placeholder="MIN" value="{{ma}}" name="max" class="form-control">
										{% endif %}
										<button type="submit" class="dropdown-item">Mayor precio</a>
									  </form>
									  <form action="" method="GET" enctype="multipart/form-data">
										<input style="display: none;"  value="menor" type="text" name="ord" readonly class="form-control-plaintext" id="usid" >
										{% if mi %}
										<input  style="display: none;" type="number" placeholder="MIN" value="{{mi}}" name="min" class="form-control">
										{% endif %}
										{% if ma %}
										<input style="display: none;" type="number" placeholder="MIN" value="{{ma}}" name="max" class="form-control">
										{% endif %}
										<button type="submit" class="dropdown-item">Menor precio</a>
									  </form>
								</div>
							  </div>
						</div>
						<div class="col-md-6">
							<div class="view">
								<strong>Vista</strong>
								
								<ul class="list-inline view-switcher">
									
									<li class="list-inline-item">
										<form method="GET">
											{% if distro == 0 %}
											<button  data-toggle="tooltip" data-placement="top" title="Celdas" class="btn p-0" type="submit" class="text-info"><i style="color: #FF390F;" class="fa fa-th-large"></i></button>
											{% else %}
											<button  data-toggle="tooltip" data-placement="top" title="Celdas" class="btn p-0" type="submit" class="text-info"><i  class="fa fa-th-large"></i></button>
											{% endif %}
											<input style="display: none;"  value="a" type="text" name="dis"  >
											{% if mi %}
											<input  style="display: none;" type="number" placeholder="MIN" value="{{mi}}" name="min" class="form-control">
											{% endif %}
											{% if ma %}
											<input style="display: none;" type="number" placeholder="MIN" value="{{ma}}" name="max" class="form-control">
											{% endif %}
											{% if ord %}
											<input type="text" name="ord" style="display: none;" value="{{ord}}">
											{% endif %}
									</form>
									</li>
								
								
									<li class="list-inline-item">
										<form method="GET">
										{% if distro == 1 %}
										<button  data-toggle="tooltip" data-placement="top" title="Lista" class="btn p-0" type="submit" class="text-info"><i style="color: #FF390F;" class="fa fa-reorder"></i></button>
										{% else %}
										<button  data-toggle="tooltip" data-placement="top" title="Lista" class="btn p-0" type="submit" class="text-info"><i  class="fa fa-reorder"></i></button>
										{% endif %}
										<input style="display: none;"  value="b" type="text" name="dis"  >
										{% if mi %}
										<input  style="display: none;" type="number" placeholder="MIN" value="{{mi}}" name="min" class="form-control">
										{% endif %}
										{% if ma %}
										<input style="display: none;" type="number" placeholder="MIN" value="{{ma}}" name="max" class="form-control">
										{% endif %}
										{% if ord %}
										<input type="text" name="ord" style="display: none;" value="{{ord}}">
										{% endif %}
									</form>
									</li>
								
								</ul>
							
							</div>
						</div>
					</div>
				</div>
				{% if distro == 0 %}
				<div class="product-grid-list">
					<div class="row mt-30">
            {% for producto in entity %}
						<div class="col-sm-12 col-lg-4 col-md-6">
							<!-- product card -->
<div class="product-item bg-light">
	<div class="card">
		<div class="thumb-content">
			<div class="price">${{producto.precio|intcomma}}</div>
			<a href="{% url 'solo' producto.id %}">
				<img style="height: 275px; width: 420px; object-fit: contain;"  class="card-img-top img-fluid imga" src="{{producto.imagen.url}}" alt="Card image cap">
			</a>
		</div>
		<div class="card-body">
		    <h4 class="card-title"><a href="{% url 'solo' producto.id %}">{{producto.titulo}}</a></h4>
		    <ul class="list-inline product-meta">
				<li class="list-inline-item">
		    		<a ><i class="fa fa-folder-open-o"></i>{{producto.categorian}}</a>
		    	</li>
		    	<li class="list-inline-item">
					<a ><i class="fa fa-calendar"></i>{{producto.created}}</a>
					
				</li>

			</ul>

		    <div class="product-ratings">
		    	<ul class="list-inline">
					{% if producto.pr >= 0.5 %}
					<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
					{% else %}
					<li class="list-inline-item "><i class="fa fa-star"></i></li>
					{% endif %}
					{% if producto.pr >= 1.0 %}
					<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
					{% else %}
					<li class="list-inline-item "><i class="fa fa-star"></i></li>
					{% endif %}
					{% if producto.pr >= 2.0 %}
					<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
					{% else %}
					<li class="list-inline-item "><i class="fa fa-star"></i></li>
					{% endif %}
					{% if producto.pr >= 3.6 %}
					<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
					{% else %}
					<li class="list-inline-item "><i class="fa fa-star"></i></li>
					{% endif %}
					{% if producto.pr >= 4.3 %}
					<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
					{% else %}
					<li class="list-inline-item "><i class="fa fa-star"></i></li>
					{% endif %}

		    	</ul>
		    </div>
		</div>
	</div>
</div>



						</div>
            {% endfor %}
			{% else %}
			{% for producto in entity %}
			<div  class="ad-listing-list mt-20">
				<div class="row p-lg-3 p-sm-5 p-4">
					<div class="col-lg-4 align-self-center">
						<div class="thumb-content">
							
							<a href="{% url 'solo' producto.id %}">
								<img style="height: 275px; width: 420px; object-fit: contain;"  class="card-img-top img-fluid imga" src="{{producto.imagen.url}}" alt="Card image cap">
							</a>
						</div>
					</div>
					<div class="col-lg-8">
						<div class="row">
							<div class="col-lg-6 col-md-10">
								<div class="ad-listing-content">
									<div>
										<a href="{% url 'solo' producto.id %}" class="font-weight-bold">{{producto.titulo}}</a>
									</div>
									<ul class="list-inline mt-2 mb-3">
										<li class="list-inline-item"><a > <i class="fa fa-folder-open-o"></i> {{producto.categorian}}</a></li>
										<li class="list-inline-item"><a ><i class="fa fa-calendar"></i>{{producto.created}}</a></li>
										<li class="list-inline-item"><i class="fa fa-shopping-basket"></i> Por <a href="{% url 'local' producto.tienda.url %}"><span>{{producto.tienda.nombre}}</span></a></li>
									</ul>
									<ul class="list-inline mt-2 mb-3">
										<li class="list-inline-item "><a style="color: #FF390F; font-size: x-large;" class="font-weight-bold" > <span >${{producto.precio|intcomma}}</span></a></li>
										
									</ul>
									
								</div>
							</div>
							<div class="col-lg-6 align-self-center">
								<div class="product-ratings float-lg-right pb-3">
									<ul class="list-inline">
										{% if producto.pr >= 0.5 %}
										<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
										{% else %}
										<li class="list-inline-item "><i class="fa fa-star-o"></i></li>
										{% endif %}
										{% if producto.pr >= 1.0 %}
										<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
										{% else %}
										<li class="list-inline-item "><i class="fa fa-star-o"></i></li>
										{% endif %}
										{% if producto.pr >= 2.0 %}
										<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
										{% else %}
										<li class="list-inline-item "><i class="fa fa-star-o"></i></li>
										{% endif %}
										{% if producto.pr >= 3.6 %}
										<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
										{% else %}
										<li class="list-inline-item "><i class="fa fa-star-o"></i></li>
										{% endif %}
										{% if producto.pr >= 4.3 %}
										<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
										{% else %}
										<li class="list-inline-item "><i class="fa fa-star-o"></i></li>
										{% endif %}
					
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
			{% endif %}
					</div>
				</div>
				<div class="pagination justify-content-center">
					{% include 'proyectoApp/paginator.html' %}
					</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
{% block extrajs %}
<script src="{% static 'js/star.js' %}"></script>
{% endblock extrajs %}
