<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">Información Dashboard</h2>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <table class="table table-responsive product-dashboard-table">
                <thead>
                  <tr>
                    <th class="text-center" >Sección </th>
                    <th class="text-center" >Función</th>
 
                    
                  </tr>
                  
                </thead>
                <tbody>
  
                    <tr>
                        <td><h3>Perfil</h3></td>
                        <td>
                            <h4>En esta sección puedes ver la foto de perfil de tu tienda, modificar la información del perfil, y cambiar las fotos de la tienda.<br> Haciendo click en la foto de perfil puedes ver tu página principal.
                            </h4>
                        </td>
                    </tr>
                  
                  <tr>
  
                    <td><h3><i class="fa fa-plus"></i> Crear Producto</h3></td>
                    <td>
                        <h4>Aquí puedes crear un producto nuevo, que estará en la pagina principal de tu tienda y en la lista de productos de Muestra.</h4>
                    </td>
                  </tr>
                  <tr>
  
                    <td><h3><i class="fa fa-user"></i> Mis anuncios <h3></td>
                    <td>
                        <h4>En esta sección están los anuncios activos, que pueden ser vistos por tus clientes.</h4>
                        <h4>Recuerda que aquí puedes:</h4>
                        <ul>
                            <li><i class="fa fa-lock"></i>&nbsp;&nbsp; Archivar el producto, asi no será visible para tus clientes (puedes usar esta opción cuando un producto está agotado, pero en el futuro tendras más stock)</li>
                            <li><i class="fa fa-pencil"></i>&nbsp;&nbsp; Editar la información del producto (precio, fotos, categoría, etc)</li>
                            <li><i class="fa fa-trash"></i>&nbsp;&nbsp; Eliminar el producto</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><h3><i class="fa fa-truck"></i> Pedidos</h3></td>
                    <td><h4>En esta sección están los pedidos de tus clientes (recuerda que tus clientes pueden hacer el pedido directamente en la página de cada producto, también cada vez que tengas un pedido te llegara un recordatorio a tu email) </h4>
                        <h4>Recuerda que aquí puedes:</h4>
                        <ul>
                            <li><i class="fa fa-check"></i>&nbsp;&nbsp; Marcar el pedido como enviado (así tu cliente podra revisar si su pedido ya fue enviado, y el pedido saldra de tu lista de pendientes)</li>
                            <li><i class="fa fa-eye"></i>&nbsp;&nbsp; Ver la información del pedido, como el producto los datos del cliente y contactar por Whatsapp al cliente para confirmar el pedido e informarle las condiciones del envío.</li>
                            <li><i class="fa fa-trash"></i>&nbsp;&nbsp; Eliminar el pedido</li>
                        </ul>
                    </td>
                </tr>
        
                <tr>
  
                    <td><h3><i class="fa fa-user"></i> Anuncios archivados <h3></td>
                    <td>
                        <h4>En esta sección están los anuncios archivados, que no pueden ser vistos por tus clientes.</h4>
                        <h4>Recuerda que aquí puedes:</h4>
                        <ul>
                            <li><i class="fa fa-unlock"></i>&nbsp;&nbsp; Activar el anuncio, asi otra vez será visible para tus clientes. </li>
                            <li><i class="fa fa-pencil"></i>&nbsp;&nbsp; Editar la información del producto (precio, fotos, categoría, etc)</li>
                            <li><i class="fa fa-trash"></i>&nbsp;&nbsp; Eliminar el producto</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><h3><i class="fa fa-instagram"></i> Instagram post</h3></td>
                    <td>
                        <h4>En esta sección puedes administrar las publicaciones de instagram que quieres que se vean en la página principal de la tienda, para hacerlo solo debes copiar el link de la publicación que quieres mostrar (puedes incluir hasta 2 publicaciones)</h4>
                        
                    </td>
                </tr>
                
  
                  
                </tbody>
              </table>
        </div>
        <div class="modal-footer">
            <button style="background-color: #FF390F; border-color: #FF390F;" class="btn btn-primary" type="button" data-dismiss="modal">Entendido</button>
           
        </div>

    </div>
</div>