asgiref==3.2.10
certifi==2020.11.8
chardet==3.0.4
decorator==4.0.11
Django==3.1.2
django-crispy-forms==1.10.0
filetype==1.0.5
idna==2.10
imageio==2.1.2
instagram-private-api==1.6.0.0
instagram-private-api-extensions==0.3.8
instapy-cli==0.0.12
moviepy==0.2.3.2
mysql-connector-python==8.0.20
numpy==1.19.2
Pillow==7.2.0
pytz==2020.1
requests==2.25.0
sqlparse==0.4.0
tqdm==4.11.2
urllib3==1.26.2
social-auth-app-django
django-admin-interface
django-import-export
django-pwa
