

.lla {
    
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
    color: #e6b322;
    padding: 0 5px;
}
.hpta{
    font-size: 15px;
    cursor: pointer;
    color: black;
    padding: 0 5px; 
}
.cajica{
    width: 100%;
    height: 0;
    padding-bottom: 149%;
    position: relative;
}
.cajica iframe{
    position: absolute;
    width: 100%;
    height: 100%;
}
