{% extends "proyectoApp/base.html" %}

{% load static %}
{% block cabezo %}
<title>{{tienda.nombre}}</title>
{% endblock cabezo %}
{% block content %}
<section class="section bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center mx-auto">
                <div class="404-img">
                    <img style="width: 200px;  object-fit: cover;" class="rounded-circle img-fluid mb-5 px-5" src="{{tienda.foto_perfil.url}}" alt="">
                </div>
                <div class="container">
                    <h3 class="display-3 pt-1 pb-2">Gracias Por tu pedido :)</h3>
                    <p class="display-5 px-3 pb-2 text-dark">Enseguida te contactaremos para darte los datos de pago.</p>
                    <a href="{% url 'local' tienda.url %}"  style="border-color: #FF390F; background-color:#FF390F;" class="btn btn-info">Seguir comprando!</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
